# mailchimp3~=3.0.2
# oauth2client~=4.1.3
# geopy~=1.18.1
# gspread~=5.12.2
# beautifulsoup4~=4.12.2
# requests~=2.31.0
python-dotenv
pandas
# spacy~=3.6.0
# asyncio
# aiohttp
google-adk
httpx-sse
google-genai